/* General Style */
section {
  padding-top: 4vw !important;
  padding-bottom: 4vh !important;
}
/* start header style */
header {
  background-image: url("../../img/man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  header {
    height: 50vh;
  }
}

/* end header style */
